<div class="first-header">
	<div class="d-flex align-items-center justify-content-center"><img
			src="https://upload.wikimedia.org/wikipedia/en/3/37/Jumpman_logo.svg" width="20px" alt=""></div>
	<div class="d-flex align-items-center justify-content-center pt-1">
		<ul class="nav-items">
			<li class="items"><a class="nav-a" href="">Find a store</a></li>
			<li class="items"><a class="nav-a" href="">Help</a></li>
			<li class="items"><a class="nav-a" href="">Join Us</a></li>
			<li class="ps-2"><a class="nav-a" href="">Sign In</a></li>
		</ul>
	</div>
</div>
<div class="second-header">
	<div class="row">
		<div class="col-3"><img src="https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/nike-512.png"
				width="70px" alt=""></div>
		<div class="col-6 d-flex align-items-center justify-content-center">
			<ul class="second-nav-items ">
				<li><a class="second-nav-a" href="">New & Featured</a></li>
				<li><a class="second-nav-a" href="">Men</a></li>
				<li><a class="second-nav-a" href="">Women</a></li>
				<li><a class="second-nav-a" href="">Kids</a></li>
				<li><a class="second-nav-a" href="">Sale</a></li>
				<li><a class="second-nav-a" href="">Customise</a></li>
			</ul>
		</div>
		<div class="col-3 third-column">
			<div class="search-box"><button type="button" class="btn lens"><i
						class="fa-solid fa-magnifying-glass fs-5"></i></button> <input type="text" width="100px"
					class="form-control search-input" placeholder="Search"></div>
			<div class="heart d-flex align-items-center justify-content-center"><i class="fa-regular fa-heart fs-4"></i>
			</div>
			<div class="cart d-flex align-items-center justify-content-center"><i
					class="fa-solid fa-bag-shopping fs-4"></i>
			</div>
		</div>
	</div>
</div>
<div class="third-header">
	

	<div class="d-flex align-items-center justify-content-center flex-column p-1 moving-text">
		<h6>New Styles on Sale: Up to 40% Off</h6>
		<a href="" class="moving-link">Shop All Our New MarkDowns</a>
	</div>


	<div class="d-flex align-items-center justify-content-center flex-column p-1 moving-text">
		<h6>Hello Nike App</h6>
		<span>Download the app to access everything Nike.</span><a class="moving-link" href="">Get your Great</a>
	</div>

</div>

<div class="larg-img">
	<img src="https://digwallpapers.com/wallpapers/full/e/3/4/5750-3840x2160-nike-sport-background-desktop-4k.jpg"
		width="100%" alt="">
</div>
<div class="middle-texts">
	<h6>Just In</h6>
	<h1>PRECISION ON POINT</h1>
	<h6 class="mt-3">Take you best shot,and make it,with the new Phantom GX</h6>
	<button class="btn mt-4">Shop</button>
</div>
<div class="content">
	<div class="content-first-div">
		<h3>Popular Right Now</h3>
		<div class="shop-btn-div">
			<h6>Shop</h6>
			<button class="next-pre-btn ms-2"><i class="fa-solid fa-angle-left fs-5"></i></button>
			<button class="next-pre-btn ms-2"><i class="fa-solid fa-angle-right fs-5"></i></button>
		</div>
	</div>
	<div class="cards-div">
		<first-carousel-component></first-carousel-component>
	</div>
</div>
<div class="second-larg-img">
	<h3>Don't Miss</h3>
	<img src="https://payload.cargocollective.com/1/3/114871/13795369/Phantom_04A_Desktop.gif" width="100%" alt="">
</div>
<div class="middle-texts">
	<h6>Nike Sports Materials</h6>
	<h1>Find Your Feel</h1>
	<div class="w-50 para">
		<p class="mt-3  ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas sequi dolorum repellendus
			labore maxime sint facere eligendi neque! Deserunt et vero fuga nulla quisquam hic optio maiores,
			voluptatibus
			architecto quidem!</p>
	</div>
	<button class="btn mt-4">Shop Sports Materials</button>
</div>

<div class="shoes-content">
	<div>
		<h3>Always Iconic</h3>
	</div>
	<carousel-component></carousel-component>
</div>
<div class="last-content container">
	<div class="row">
		<div class="col-3 items-list d-flex align-items-center justify-content-start flex-column">
			<h6>Icons</h6>
			<ul>
				<li>Air Force</li>
				<li>Huarache</li>
				<li>Air Max 90</li>
				<li>Air Max 95</li>
				<li>Air Max 97</li>
			</ul>
		</div>
		<div class="col-3 items-list d-flex align-items-center justify-content-start flex-column">
			<h6>Shoes</h6>
			<ul>
				<li>All shoes</li>
				<li>Custom shoes</li>
				<li>Football shoes</li>
				<li>Running shoes</li>
				<li>Basketball shoes</li>
			</ul>
		</div>
		<div class="col-3 items-list d-flex align-items-center justify-content-start flex-column">
			<h6>Clothings</h6>
			<ul>
				<li>All clothing</li>
				<li>Modest wear</li>
				<li>Shirts & tops</li>
				<li>Jackets</li>
				<li>Hoodies & pullovers</li>
			</ul>
		</div>
		<div class="col-3 items-list d-flex align-items-center justify-content-start flex-column">
			<h6>Kids</h6>
			<ul>
				<li>Infants & toddler shoes</li>
				<li>Kids shoes</li>
				<li>Running shoes</li>
				<li>Running shoes</li>
				<li>clothings</li>
			</ul>
		</div>
	</div>
</div>
<footer>
	<div class="row">
		<div class="col-5">
			<div class="row">
				<div class="col-5">
					<ul>
						<li class="first-column">FIND A STORE</li>
						<li class="first-column">BECOME A MEMBER</li>
						<li class="first-column">Send Us Feedback</li>
					</ul>
				</div>
				<div class="col-3">
					<ul>
						<li class="first-column"><a>GET HELP</a></li>
						<li class="footer-items"><a href="" class="footer-items-link">Order Status</a></li>
						<li class="footer-items"><a href="" class="footer-items-link">Delivery</a></li>
						<li class="footer-items"><a href="" class="footer-items-link">Returns</a></li>
						<li class="footer-items"><a href="" class="footer-items-link">Payment Options</a></li>
					</ul>
				</div>
				<div class="col-4">
					<ul>
						<li class="first-column"><a>ABOUT NIKE</a></li>
						<li class="footer-items"><a href="" class="footer-items-link">News</a></li>
						<li class="footer-items"><a href="" class="footer-items-link">Careers</a></li>
						<li class="footer-items"><a href="" class="footer-items-link">Investers</a></li>
						<li class="footer-items"><a href="" class="footer-items-link">Sustainability</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-7">
			<div class="d-flex align-items-center justify-content-end">
				<div class="icons"><i class="fa-brands fa-twitter text-dark fs-6"></i></div>
				<div class="icons"><i class="fa-brands fa-facebook text-dark fs-6"></i></div>
				<div class="icons"><i class="fa-brands fa-youtube text-dark fs-6"></i></div>
				<div class="icons"><i class="fa-brands fa-instagram text-dark fs-6"></i></div>
			</div>
		</div>
	</div>
	<div class="small-footer d-flex align-items-center justify-content-between">
		<div class="pt-3">
			<p class="india-text"><i class="fa-solid fa-location-dot fs-6 me-3"></i>India <span class="me-3 copyright">©
					2023
					Nike,inc.All Right Reserved</span></p>
		</div>
		<div class="last-div">
			<a class="last-a" href="">Guides</a>
			<a class="last-a" href="">Terms of Sale</a>
			<a class="last-a" href="">Terms of Use</a>
			<a class="last-a" href="">Nike Privacy Policy</a>
		</div>
	</div>
</footer>